# User-specific files

*.user
*.userosscache
*.sln.docstates

# Compiled

*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo

# Other files

*.html

# packages

packages/

# Directories

.vs/
documentation/
reports/

# Build results

[Dd]ebug/
[Rr]elease/
[Rr]eleases/

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/